* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 20px;
  text-align: center;
  color: #000000;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: auto;
}

img {
  width: auto;
  height: 100%;
  max-height: 100px;
}

.item{
  border: 2px solid #e16162;
  border-radius: 5px;
  background-color: #abd1c6;
}

.container {
  border: 2px solid #001e1d;
  margin: 15px 0;
}

.autofit-grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  border: 1px solid blue;
}

.fit {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid red;
}

/*start editing for exercise below */
.grid {
  
}

.mudkip  {
 
}

.piplup {

}

.chimchar {

}

.cyndaquil {
 
}

.torchic{
  
}

.overlap-grid {
  display: grid;
  grid-template: repeat(4, 20px) / repeat(4, 1fr);}

.one {

}

.two {

}

.over {

}

