* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 20px;
  text-align: center;
  color: #000000;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: auto;
}

img {
  width: auto;
  height: 100%;
  max-height: 100px;
}

.item{
  border: 2px solid #e16162;
  border-radius: 5px;
  background-color: #abd1c6;
}

.container {
  border: 2px solid #001e1d;
  margin: 15px 0;
}

.autofit-grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  border: 1px solid blue;
}

.fit {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid red;
}

/*start editing for exercise below */
.grid {
  display: grid;
  grid-template-areas:
    "mudkip mudkip"
    "piplup piplup"
    "chimcahr cyndaquil"
    "torchic torchic";
  grid-template-columns: 200px 300px;
  grid-template-rows: 150px 200px 300px 200px;
  justify-items: center;
}

.mudkip  {
  grid-area: mudkip;
}

.piplup {
  grid-area: piplup;
}

.chimchar {
  grid-area: chimchar;
}

.cyndaquil {
  grid-area:: cyndaquil;
}

.torchic{
  grid-area: torchic;
}

.overlap-grid {
  display: grid;
  grid-template: repeat(4, 20px) / repeat(4, 1fr);}

.one {
  grid-area: 1 / 1 / 5 / 3;
}

.two {
  grid-area: 1 / 3 / 5 / 5
}

.over {
  grid-area: 2 / 2 / 4 / 4;
  z-index: 10;
}

